* {
  background-color: #181818;
  color: #ffffff;
  background-color: transparent;
}

main {
  margin: 3rem auto;
  /* height: 70vw; */
  /* width: 50ch; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.main-contents {
  display: flex;
  height: 50vh;
  width: 50vw;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: dashed red 1px;
}

body {
  background-color: #181818;
}

.quiz-card {
  /* display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; */
  /* background-color: #48b4ef; */
  border-radius: 5px;
  width: 100%;
}

.card-contents {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: solid orange 2px;
  margin: 1vw;
}

ul {
  list-style: none;
}

li {
  background-color: #ef4872;
  color: white;
  margin: 1vw;
  width: 70%;
  font-size: x-large;
}
